<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>
    <services>
        <service name="ResearchUploadService.Service1" behaviorConfiguration="ResearchUploadService.Service1Behavior">
	        <endpoint address="customBinding" binding="customBinding" bindingConfiguration="basicConfig" contract="treXis.rest.IService"/>
	        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="REST" contract="treXis.rest.IService"/>
        </service>
    </services>
    <behaviors>
        <serviceBehaviors>
            <behavior name="ResearchUploadService.Service1Behavior">
                <serviceMetadata httpGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="true"/>
            </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
           <behavior name="REST">
             <webHttp/>
           </behavior>
        </endpointBehaviors>
  </behaviors>
  <bindings>
     <customBinding>
        <binding name="basicConfig">
           <binaryMessageEncoding/>
           <httpTransport transferMode="Streamed" maxReceivedMessageSize="67108864"/>
        </binding>
     </customBinding>
  </bindings>
</system.serviceModel>
	<!--
	<system.serviceModel>
		<services>
			<service name="treXis.rest.Service">
				<endpoint address=""
				binding="webHttpBinding"
				contract="treXis.rest.IService"
				behaviorConfiguration="webHttp" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviours>
				<behaviour name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behaviour>
			</serviceBehaviours>
			<endpointBehaviors>
				<behavior name="webHttp">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
-->
</configuration>
